@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color:#0270bb;
}

nav{
    /* background-color: #313131; */
    color: #0270bb;
    border-bottom: 2px solid #0270bb;
}
button{
    background-color: #ffffff;
    color: #313131;
}
hr{
    margin: 8px 0;
    color:#949494;
}





/*  */
.set-width{
    width: 85%;
    margin: 0 auto;
}

.four-col-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}




/* NAVIGATION */

.subscription,
.nav-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 4px auto;
}

.time{
    font-weight: 500;
}

.links a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 8px;
    padding: 8px 20px;
    background-color:#0270bb;
    border-radius: 16px;
    color: #ffffff;
}
.links a:hover{
    box-shadow: 0 0 4px #987a22;
}

.nav-body{
    justify-content: center;
}
.nav-body i{
    display: none;
    margin: 0 20px;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    padding-top: 12px;
}


.search form{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 16px;
    font-size: 0.7rem;
}
.search form input{
    /* display: none; */
    padding: 0 4px;
    border: 1px solid #0270bb;
    color:#0270bb;
    font-weight: 600;
    border-right: none;
    width: 140px;
    outline: none;
    border-radius: 8px 0 0 8px;
}
.search form a{
    padding: 4px 0;
    background-color:#ffffff;
    color: #0270bb;
    margin: 0;
    border: 1px solid #0270bb;
    border-left: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.search form a i{
    font-size: 0.9rem;
    margin: 0 4px;
}

.gleaner-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#ffffff;
    margin: 0 96px;;
}
.gleaner-logo img{
    height: 60px;
    object-fit: cover;
}

.btns{
    display: flex;
    justify-content: center;
    margin: 12px 0 4px 0;
}
.btns button{
    padding: 8px 20px;
    margin: 4px;
    color: #0270bb;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btns button:hover{
    background-color:#0270bb;
    color: #ffffff;
}


.alerts{
    position: absolute;
    display: grid;
    left: 0;
    width: 200%;
    margin:16px auto;
    padding: 4px;
    color: #987a22;
}
@keyframes scroll-left{
    form{transform:translate(100%)}
    to{transform:translate(-100%)}
}
.alerts p{
    width: 100%;
    text-align: right;
    animation: scroll-left infinite 20s linear;
    font-weight: 700;
}




/* MENU MODAL */
.menu-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#31313199;
}

.menu-content{
    background-color: #ffffff;
}




/* LATEST HEADLINES */
.container{
    position: relative;
    margin: 60px auto 30px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 12px #e1e1e1;
}
.news{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}
.latest-stories{
    width: 65%;
    padding: 12px;
}

.latest-stories img{
    object-fit: contain;
    float: right;
    height: 220px;
    padding: 0 20px;
}
.latest-stories h2{
    margin-bottom: 20px;
    width: 50%;
    line-height: 1.3rem;
}

.latest-stories h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.latest-stories p{
    line-height: 1.2rem;
    /* width: 50%; */
    margin-bottom: 8px;
}
.latest-stories a{
    text-align: right;
    display: block;
    width: 45%;
}
.featured-stories{
    width: 30%;
    padding: 12px;
}
.featured-stories a{
    display: block;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1rem;
    text-align: left;
    margin: 0 16px;
}
.featured-stories a:hover{
    color:#0270bb;
    text-decoration: underline;
    cursor: pointer;
}

/* TRENDING */

.trending-stories{
    margin: 40px 0;
}

.trending-stories img{
    width:100%;
}
.trending-item,
.cartoon{
    
    cursor: pointer;
}
.trending-item:hover.trending-item h3,
.cartoon:hover.cartoon h3{
    text-decoration: underline;
    color:#0270bb;

}
.trending-item h3,
.cartoon h3{
    font-style: italic;
    font-weight: bold;
    line-height: 1.2rem;
    color:#313131
}





/* FOOTER */

.footer-container{
    background-color:#0270bb;
    color: #ffffff;
    border-top: 8px solid #987a22;
}
.footer-item h2{
    color: #ffffff;
    margin: 20px 0;
}
.footer-item a{
    display: block;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
}
.footer-item a:hover{
    text-decoration: underline;
}

.connections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    align-items:center;
    gap: 40px;
    border-top: 8px solid #987a22;
}
.social,
.mobile-apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.icons a i{
    margin: 8px;
    font-size: 1.2rem;
    color:#0270bb;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-logo img{
    display: block;
    object-fit: contain;
    height: 60px;
    padding: 8px;
}
.footer-logo p,
.social p,
.mobile-apps p{
    font-size: 12px;
}

.mobile-apps{
    display: flex;
    justify-content: flex-end;
}


.connections{
    background-color:#ffffff;
    color:#0270bb;
    width: 100%;
}

.footer-logo p{
    text-align: center;
    margin: 12px 0;
}