@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



/* ANIMATIONS */
@keyframes scroll-left{
    form{transform:translate(100%)}
    to{transform:translate(-100%)}
}




/* TAG STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color:#313131;
}
body{
    font-size: 14px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
h1{
    color:#0270bb;
}
h2,
h3{
    line-height: 20px;
}

nav{
    background-color: #ffffff;
    color: #0270bb;
    border-bottom: 6px double #0270bb;
}
button{
    background-color: #ffffff;
    color: #313131;
}
hr{
    margin: 8px 0;
    color:#949494;
}
img{
    max-width: 100%;
}




/* REUSABLE */
.set-width{
    width: 85%;
    margin: 0 auto;
}
.section-container-lg{
    height: 520px;
}
.section-container-lg>a{
    display: block;
    text-align: right;
    font-weight: 500;
    margin-top: 20px;
}
.section-container-sm{
    height: 360px;
}
.section-heading{
    margin-bottom: 32px;
    text-align: center;
}

.three-col-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 48px;
}

.four-col-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 56px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.flex-row{
    display: flex;
    justify-content: space-between;
}





/* NAVIGATION */
.subscription,
.nav-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 4px auto;
}
.time{
    font-weight: 600;
    color:#0270bb;
}
.links a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 8px;
    padding: 8px 20px;
    background-color:#0270bb;
    border-radius: 16px;
    color: #ffffff;
}
.links a:hover{
    box-shadow: 0 0 8px #987a22;
}
.nav-body{
    justify-content: center;
}
.nav-body i{
    display: none;
    margin: 0 20px;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    padding-top: 12px;
}
.search form{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 16px;
    font-size: 0.7rem;
}
.search form input{
    /* display: none; */
    padding: 0 4px;
    border: 1px solid #0270bb;
    color:#0270bb;
    font-weight: 600;
    border-right: none;
    width: 140px;
    outline: none;
    border-radius: 8px 0 0 8px;
}
.search form a{
    padding: 4px 0;
    background-color:#ffffff;
    color: #0270bb;
    margin: 0;
    border: 1px solid #0270bb;
    border-left: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.search form a i{
    font-size: 0.9rem;
    margin: 0 4px;
}
.gleaner-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#ffffff;
    margin: 0 96px;;
}
.gleaner-logo img{
    height: 60px;
    object-fit: cover;
}
.btns{
    display: flex;
    justify-content: center;
    margin: 12px 0 4px 0;
}
.btns button{
    padding: 4px 16px;
    margin: 4px;
    color: #0270bb;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.btns button:hover{
    box-shadow: 0 0 8px #0270bb;
    /* background-color:#0270bb;
    color: #ffffff;
    border: 2px solid #987a22; */
}
.btns button:active{
    box-shadow: 0 0 0 #0270bb;
}
.alerts{
    position: absolute;
    display: grid;
    left: 0;
    width: 180%;
    margin:8px auto;
    padding: 4px;
    overflow: hidden;
}

.alerts p{
    width: 100%;
    text-align: right;
    color: #987a22;
    animation: scroll-left infinite 40s linear;
    font-weight: 700;
}






/* MENU MODAL */
.menu-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#31313199;
}

.menu-content{
    background-color: #ffffff;
}



/* CONTAINER */
.container{
    position: relative;
    margin: 40px auto;
    padding: 20px 40px;
    background-color:#ffffff;
    box-shadow: 0 0 8px #313131bb;
}




/* LATEST HEADLINES */

.main-stories{
    margin-bottom: 40px;
}
.latest-stories{
    width: 65%;
    /* padding: 0 12px; */
}

.latest-stories img{
    object-fit: contain;
    float: right;
    height: 220px;
    padding: 0 20px;
}
.latest-stories h2{
    margin-bottom: 20px;
    line-height: 19px;
    font-style: italic;
}

.latest-stories h2:hover{
    text-decoration: underline;
    cursor: pointer;
    color:#0270bb;
}
.latest-stories p{
    line-height: 1.2rem;
    margin-bottom: 24px;
}
.latest-stories a{
    text-align: center;
    display: block;
}
.featured-stories{
    width: 30%;
}
.featured-stories a{
    font-style: italic;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 18px;
    text-align: left;
    margin: 0 16px;
    cursor: pointer;
}
.featured-stories a:hover{
    color:#0270bb;
    text-decoration: underline;
}






/* TRENDING */
.trending-stories{
    margin: 40px 0;
}

.trending-stories img{
    width:100%;
}
.trending-item{
    cursor: pointer;
}
.trending-item:hover.trending-item h3{
    text-decoration: underline;
    color:#0270bb;

}
.trending-item h3{
    font-style: italic;
    font-weight: 500;
    line-height: 1.2rem;
    color:#313131
}





/* NEWS */

.news-article{
    display: block;
    margin: 24px 0;
    cursor: pointer;
}
.news-article:hover.news-article>h3{
    text-decoration: underline;
    color:#0270bb;
}
.news-article>h3{
    margin-bottom: 12px;
    color:#313131;
    font-style: italic;
}
.news-article>img{
    width: 360px;
    height: 300px;
    object-fit: cover;
}
.news-article>p{
    font-size: 14px;
    line-height: 1.1;
}







/* SPORTS */
.sport-primary{
    width: 70%;
    cursor: pointer;
}
.sport-primary:hover.sport-primary>h2,
.article:hover.article>h4{
    text-decoration: underline;
    color: #0270bb;
}
.sport-primary>img{
    float: left;
    object-fit: cover;
    height: 340px;
    padding-right: 20px;
}
.sport-primary>h2{
    margin-bottom: 20px;
}
.sport-secondary{
    width: 25%;
}
.article{
    cursor: pointer;
}
.article>h4{
    text-align: left;
    margin-bottom: 8px;
}
.article>img{
    height: 130px;
    width: 240px;
    object-fit: cover;
}




/* BUSINESS */
.main-business-story{
    width: 600px;
    margin-bottom: 80px;
    cursor: pointer;
}
.main-business-story:hover.main-business-story>h2,
.stock-market:hover.stock-market>h2,
.business-article:hover.business-article>h3{
    color:#0270bb;
    text-decoration: underline;
}
.main-business-story>img{
    height: 200px;
    width: 380px;
    float: left;
    padding-right: 12px;
    object-fit: cover;
}
.main-business-story>h2{
    margin-bottom: 20px;
}
.stock-market{
    align-self: flex-start;
    cursor: pointer;
}
.stock-market>img{
    height: 180px;
}
.business-article{
    cursor: pointer;
}
.business-article>img{
    height: 120px;
    float: left;
    padding-right: 12px;
}






/* FLAIR */
.flair{
}
.flair-article-left,
.flair-article-right{
    width: 35%;
    align-self:flex-start;
}
.flair-article-left>a,
.flair-article-right>a{
    display: block;
    margin-bottom: 24px;
}
.flair-article:hover.flair-article>h2,
.flair-article:hover.flair-article>h3{
    color: #0270bb;
    text-decoration: underline;
}
.flair-article>img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    padding: 0 20px;
}
.flair-article>h3{
    margin-bottom: 4px;
}
.flair-article>h2{
    padding: 0 20px;
    margin-bottom: 20px;
}







/* WEATHER */
.weather{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: auto;
    row-gap: 24px;
}
.location{
    align-self:flex-end;
}
.location>h4{
    margin-bottom: 8px;
    font-size: 20px;
}
.location>i{
    font-size: 22px;
    color:#0270bb;
    text-align: center;
    display: block;
}
.location>p{
    text-align: center;
    font-weight: 600;
    color:#0270bb;
}







/* FUN AND GAMES */
.cartoon{
    width: 70%;
    cursor: pointer;
}
.cartoon>h2{
    margin-bottom: 12px;
}
.cartoon>img{
    object-fit: contain;
    height: 400px;
}
.fng-links{
    width: 25%;
    align-self: baseline;
}
.fng-links a{
    cursor: pointer;
    margin-bottom: 24px;
}
.fng-links h4{
    margin-bottom: 4px;
}
.fng-links img{
    object-fit: cover;
    height: 100px;
    width:200px;
}
.cartoon:hover.cartoon>h2,
.fng-links>a:hover h4{
    color:#0270bb;
    text-decoration: underline;
}







/* OPINIONS */
.opinions{
    column-gap: 12px;
    margin-right: 16px;
}
.poll>h3,
.opinion-item>h3,
.poll>p{
    margin-bottom: 12px;
}
.radio{
    margin-bottom: 4px;
}
.poll button{
    background-color: #ffffff;
    padding: 2px 8px;
    color:#0270bb;
    border: 1px solid #0270bb;
    border-radius: 12px;
    cursor: pointer;
}
.poll button:hover{
    box-shadow: 0 0 4px #0270bb;
}
.poll a{
    color:#0270bb;
    text-decoration: underline;
    font-style: italic;
    margin-left: 8px;
}







/* FOOTER */

.footer-container{
    background-color:#0270bb;
    color: #ffffff;
    border-top: 8px solid #987a22;
}
.footer-item h2{
    color: #ffffff;
    margin: 20px 0;
}
.footer-item a{
    display: block;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
}
.footer-item a:hover{
    text-decoration: underline;
}

.connections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    align-items:center;
    gap: 40px;
    border-bottom: 8px solid #987a22;
}
.social,
.mobile-apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.icons a i{
    margin: 8px;
    font-size: 1.2rem;
    color:#0270bb;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-logo img{
    display: block;
    object-fit: contain;
    height: 60px;
    padding: 8px;
}
.footer-logo p,
.social p,
.mobile-apps p{
    font-size: 12px;
}

.mobile-apps{
    display: flex;
    justify-content: flex-end;
}


.connections{
    background-color:#ffffff;
    color:#0270bb;
    width: 100%;
}

.footer-logo p{
    text-align: center;
    margin: 12px 0;
}